<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class = "banner-section">
        <img src="../static/images/banner.jpg" >
    </div>
    <div class="register-form">
        <h1>REGISTRATION FORM</h1>
        <form action="/register-form" method="post">
            <input type="number" name="id" placeholder="ID"> <br> <br>
            <input type="text" name="sname" placeholder="name"><br> <br>
            <input type="number" name="phone" placeholder="phone number"> <br> <br>
            <input type="email" name="email" placeholder="email"> <br> <br>
            <input type="number" name="srank" placeholder="eamcet rank"> <br> <br>
            <input type="number" name="percentage" placeholder="Inter Percentage"> <br> <br>
            <input type="text" name="course" placeholder="Course Interested"> <br> <br>
            <input type="text" name="address" placeholder="Address"> <br> <br>
            <button>REGISTER</button>
        </form>
    </div>    
</body>
</html>